html {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
}

body {
  font: 0.85em Verdana;
  height: 100%;
}

td.too-long {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

td.too-long > div:hover {
  font-weight: bold;
}

.success {
  color: #5ef904;
  text-align: center;
}

.warning {
  color: orangered;
  cursor: pointer;
  text-align: center;
}

.warning a {
  color: inherit;
  text-decoration: none;
}

.warning a:hover {
  font-weight: bold;
}

.helpBtn {
  display: none !important;
}

table.TF td {
  text-align: center;
}

#test-button {
  border-radius: 7px;
  background: #00bdff73;
  padding: 8px 14px;
  line-height: 4em;
  color: #352e22;
  cursor: pointer;
}

#table-container {
  position: relative;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  height: 13em;
  width: 40%;
  margin: 0 auto;
  padding: 3em;
  background: white;
  left: 30%;
  border-radius: 10px;
  border: solid 1px grey;
}

#modal-button {
  border-radius: 2em;
  position: absolute;
  bottom: 3em;
  right: 3em;
  background: #fc471e;
  padding: 0.7em 1.2em;
  cursor: pointer;
}
